@import './common'; 
@import './form';
@import './gallery';
@import './loadingButton';

body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    line-height: 1.5;
    margin:0;
    padding:0;

}